@media all and (min-width: 321px) and (max-width: 376px){
    .hamburgerbtn{
        display: block !important;
    }

    .firstpage{
        height: 150vh;
    }

    .leftdiv{
        display: none;
    }

    .manithphoto>img{
        height: 370px;
    }

    .manithphoto{
        position: absolute;
        left: 0%;
        width: fit-content;
        right: 0%;
        margin: auto;
        bottom: 46%;
    }

    .details{
        position: absolute;
        left: 4%;
        width: 280px;
        height: 460px;
        top: 43%;
        left: 0%;
        right: 0%;
        margin: auto;
        text-align: center;
    }

    .details>div:nth-child(1), .details>div:nth-child(2){
        text-align: center;
    }

    .details>div:nth-child(1){
        position: relative;
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: start;
        text-align: center;
    }

    .details>div:nth-child(2){
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .details>div:nth-child(3){
        position: relative;
        left: 0%;
        right: 0%;
        margin: auto;
    }

    .wrapper{
        display: none;
    }

    .details>div:nth-child(1)>h1{
        font-size: 33px;
    }
}

@media all and (min-width: 376px) and (max-width: 426px){
    .hamburgerbtn{
        display: block !important;
    }
    
    .firstpage{
        height: 150vh;
    }

    .leftdiv{
        display: none;
    }

    .manithphoto>img{
        height: 370px;
    }

    .manithphoto{
        position: absolute;
        left: 0%;
        width: fit-content;
        right: 0%;
        margin: auto;
        bottom: 46%;
    }

    .details{
        position: absolute;
        left: 4%;
        width: 280px;
        height: 460px;
        top: 43%;
        left: 0%;
        right: 0%;
        margin: auto;
        text-align: center;
    }

    .details>div:nth-child(1), .details>div:nth-child(2){
        text-align: center;
    }

    .details>div:nth-child(1){
        position: relative;
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: start;
        text-align: center;
    }

    .details>div:nth-child(2){
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .details>div:nth-child(3){
        position: relative;
        left: 0%;
        right: 0%;
        margin: auto;
    }

    .wrapper{
        display: none;
    }

    .details>div:nth-child(1)>h1{
        font-size: 33px;
    }
}